{
  "cluster_size": "${cluster_size}",
  "broadcast_refresh_update": "${broadcast_refresh_update}",
  "gen_instances_per_node": "${gen_instances_per_node}",
  "api_instances_per_node": "${api_instances_per_node}",
  "server_url": "http://${server_url}"
}
