config_file_profile = "DEFAULT"
region = "eu-frankfurt-1"
tenancy_ocid        = "ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
compartment_ocid    = "ocid1.compartment.oc1..aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
ssh_public_key      = "ssh-rsa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
broadcast_refresh_update = 30
gen_instances_per_node   = 3
gen_num_instances        = 3
api_instances_per_node   = 2
api_num_instances        = 2
web_num_instances        = 2
server_num_instances     = 1